* {
    padding: 0;
    margin: 0;
    border: none;
    font-size: 50px;
    transition: all ease 300ms;
}

section.clock {
    width: 800px;
    height: 700px;
    position: absolute;
    left: calc(50% - 400px);
    top: calc(50vh - 400px);
    display: flex;
    flex-flow: column;
}

section.clock>img#watch {
    position: absolute;
    width: 50%;
    height: 50%;
    left: calc(50% - 25%);
    top: calc(50% - 25%);
    z-index: 1;

}

/* }
section.clock{
    position: absolute;
    width: 150px;
    height: 16%;
    left: calc(50% + 8.5%);
    top: calc(50% - 12%);
    z-index: 2;
} */

section.clock>img#button {
    position: absolute;
    width: 150px;
    height: 16%;
    left: calc(50% + 8.5%);
    top: calc(50% - 12%);
    z-index: 2;
    transition: all ease 50ms;


}


section.clock>div.upda>div.up{
    width: fit-content;
    display: flex;
    flex-flow: row;
    position: absolute;
    
    left: calc(50% - 90px);
    top: calc(50% - 85px);
    z-index: 3;
    gap: 15px;
    
}
section.clock>div.upda>div.up>div.houp>img{
    width: 50px;
    height: 50px;
}

section.clock>div.upda>div.up>div.houp{
    opacity: 0;
    z-index:-2;
}

section.clock>div.upda>div.up>div.minup>img{
    width: 50px;
    
    height: 50px;
}

section.clock>div.upda>div.up>div.minup{
    opacity: 0;
    z-index:-2;
}

section.clock>div.upda>div.up>div.secup>img{
    width: 50px;
    
    height: 50px;
}

section.clock>div.upda>div.up>div.secup{
    opacity: 0;
    z-index:-2;
}

section.clock>div.upda>div.dawn{
    width: fit-content;
    display:flex;
    transform: rotate(180deg);
    flex-flow: row-reverse;
    position: absolute;
    
    left: calc(50% - 90px);
    top: calc(50% + 25px);
    z-index: 3;
    gap: 15px;

}

section.clock>div.upda>div.dawn>div.hodawn>img{
    width: 50px;
    
    height: 50px;
}
section.clock>div.upda>div.dawn>div.hodawn{
    opacity: 0;
    z-index:-2;
}

section.clock>div.upda>div.dawn>div.mindawn>img{
    width: 50px;

    height: 50px;
}

section.clock>div.upda>div.dawn>div.mindawn{
    opacity: 0;
    z-index:-2;
}

section.clock>div.upda>div.dawn>div.secdawn>img{
    width: 50px;
    
    height: 50px;
}

section.clock>div.upda>div.dawn>div.secdawn{
    opacity: 0;
    z-index:-2;
}


section.clock>div.hour {
    
    position: absolute;
    width: 60px;
    height: 60px;
    top: calc(50% - 30px);
    align-items: center;
    text-align: center;
    line-height: 60px;
    left: calc(50% - 100px);
    z-index: 1;


}


section.clock>div.min>h1>span.leftspan {
    display: inline-block;
    position: inherit;

}

section.clock>div.min {
    position: absolute;
    width: 110px;
    height: 60px;
    top: calc(50% - 30px);
    align-items: center;
    text-align: center;
    line-height: 60px;
    left: calc(50% - 55px);
    z-index: 1;


}

section.clock>div.sec {
    position: absolute;
    width: 60px;
    height: 60px;
    top: calc(50% - 30px);
    align-items: center;
    text-align: center;
    line-height: 60px;
    left: calc(50% + 40px);
    z-index: 1;


}