* {
    padding: 0;
    margin: 0;
    border: none;
    font-size: 50px;
}

section.clock {
    width: 800px;
    height: 700px;
    position: absolute;
    left: calc(50% - 400px);
    top: calc(50vh - 400px);
    display: flex;
    flex-flow: column;
}

section.clock>img#watch {
    position: absolute;
    width: 50%;
    height: 50%;
    left: calc(50% - 25%);
    top: calc(50% - 25%);
    z-index: 1;

}

/* }
section.clock{
    position: absolute;
    width: 150px;
    height: 16%;
    left: calc(50% + 8.5%);
    top: calc(50% - 12%);
    z-index: 2;
} */

section.clock>img#button {
    position: absolute;
    width: 150px;
    height: 16%;
    left: calc(50% + 8.5%);
    top: calc(50% - 12%);
    z-index: 2;


}


section.clock>div.hour {
    
    position: absolute;
    width: 60px;
    height: 60px;
    top: calc(50% - 30px);
    align-items: center;
    text-align: center;
    line-height: 60px;
    left: calc(50% - 100px);
    z-index: 1;


}


section.clock>div.min>h1>span.leftspan {
    display: inline-block;
    position: inherit;

}

section.clock>div.min {
    position: absolute;
    width: 110px;
    height: 60px;
    top: calc(50% - 30px);
    align-items: center;
    text-align: center;
    line-height: 60px;
    left: calc(50% - 55px);
    z-index: 1;


}

section.clock>div.sec {
    position: absolute;
    width: 60px;
    height: 60px;
    top: calc(50% - 30px);
    align-items: center;
    text-align: center;
    line-height: 60px;
    left: calc(50% + 40px);
    z-index: 1;


}